.footer{
	background-color:#d4e0d8;
	text-align:center;
	padding:20px;
}
.footer_mid{
	background-color:#F0F0F0;
	text-align:left;
	padding:10px;
}

.jumbotron {

	background: #358CCE;

	color: #FFF;

	border-radius: 0px;

}

.jumbotron-sm { 
	padding-top: 24px;

	padding-bottom: 24px;
 }

.jumbotron small {

	color: #FFF;

}

.h1 small{

	font-size: 24px;

}

.border{
	border: solid 1px #000;
}
